<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Legal Notive</title>
    <%- include("stylesheet.ejs") %>
    <link rel="stylesheet" href="public/css/legal_notive.css">
</head>
<body>
<%- include("header.ejs") %>
<section class="section">
    <div class="breadcrumb">
        <h3>Legal Notice</h3>
        <ul class="menu-item">
            <li><a href="/">Home</a></li>
            <li>Legal Notice</li>
        </ul>
    </div>
    <div class="legal">
        <div class = "left col-md-3">
            <%- include("side_bar.ejs") %>
        </div>
        <div class="right legal-notice">
            <div class="nd_legal">
                <h3></h3>
            </div>
            <div class="nd_legal">
                <h3>Introduction</h3>
                <p>Eyeonic respects your privacy and is committed to protecting your personal data. This privacy notice will inform you as to how we look after your personal data when you visit our website (regardless of where you visit it from) or when you interact directly with Rolex or a Eyeonic Affiliate, and tell you about your privacy rights and how the law protects you.</p>
            </div>
            <div class="nd_legal">
                <h3>Controller</h3>
                <p>When we mention “Rolex”, “we”, “us” or “our” in this privacy notice, we are referring to:</p>
                <p>ROLEX SA</p>
                <p>3-5-7 rue François-Dussaud</p>
                <p>1211 Geneva 26</p>
                <p>Switzerland</p>
                <p>Swiss company number:</p>
                <p>CH-660.0.012.920-4</p>
                <p>ROLEX SA is the controller for personal data collected via this website.</p>
                <p>However, when you interact directly with a Rolex Affiliate, said affiliate is the controller for personal data collected through direct interaction.</p>
            </div>
            <div class="nd_legal">
                <h3>Personal Data Supervisor</h3>
                <p>We have appointed a personal data supervisor who is responsible for overseeing questions in relation to this privacy notice. If you have any questions about this privacy notice, including any requests to exercise your legal rights, please contact the personal data supervisor using the following details.</p>
                <p>Personal Data Supervisor: Mr. Xavier Braun</p>
                <p>Postal address: 08, Ton That Thuyet, My Dinh, Ha Noi</p>
                <p>Telephone number: +4122 302 22 00</p>
                <p>Email address: privacy@rolex.com</p>
                <p>ROLEX SA only responds to enquiries concerning data protection. Please send any communications in either English or French.</p>
            </div>
            <div class="nd_legal">
                <h3></h3>
                <p></p>
            </div>
            <div class="nd_legal">
                <h3></h3>
                <p></p>
            </div>
            <div class="nd_legal">
                <h3></h3>
                <p></p>
            </div>
            <div class="nd_legal">
                <h3></h3>
                <p></p>
            </div>
            <div class="nd_legal">
                <h3></h3>
                <p></p>
            </div>
            <div class="nd_legal">
                <h3></h3>
                <p></p>
            </div>
            <div class="nd_legal">
                <h3></h3>
                <p></p>
            </div>
            <div class="nd_legal">
                <h3></h3>
                <p></p>
            </div>
            <div class="nd_legal">
                <h3></h3>
                <p></p>
            </div>
            <div class="nd_legal">
                <h3></h3>
                <p></p>
            </div>
            <div class="nd_legal">
                <h3></h3>
                <p></p>
            </div>
            <div class="nd_legal">
                <h3></h3>
                <p></p>
            </div>
        </div>
    </div>
</section>
<%- include("footer.ejs") %>
</body>
</html>