<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Security notifications</title>
    <%- include("stylesheet.ejs") %>
    <link rel="stylesheet" href="public/css/legal_notive.css">
</head>
<body>
<%- include("header.ejs") %>
<section class="section">
    <div class="breadcrumb">
        <h3>Security notifications</h3>
        <ul class="menu-item">
            <li><a href="/">Home</a></li>
            <li>Security notifications</li>
        </ul>
    </div>
    <div class="legal">
        <div class = "left col-md-3">
            <%- include("side_bar.ejs") %>
        </div>
        <div class="right-legal">
            <div class="nd_legal">
                <h2>Introduction</h2>
                <p>Eyeonic respects your privacy and is committed to protecting your personal data. This privacy notice will inform you as to how we look after your personal data when you visit our website (regardless of where you visit it from) or when you interact directly with Rolex or a Eyeonic Affiliate, and tell you about your privacy rights and how the law protects you.</p>
            </div>
            <div class="nd_legal">
                <h2>Controller</h2>
                <p>When we mention “Rolex”, “we”, “us” or “our” in this privacy notice, we are referring to:</p>
                <p>EYEONIC VN</p>
                <p>08-Ton That Thuyet</p>
                <p>My Dinh-Ha Noi</p>
                <p>Viet Nam</p>
                <p>Swiss company number:</p>
                <p>0000 0000 00</p>
                <p>EYEONIC VN is the controller for personal data collected via this website.</p>
                <p>However, when you interact directly with a Rolex Affiliate, said affiliate is the controller for personal data collected through direct interaction.</p>
            </div>
            <div class="nd_legal">
                <h2>Personal Data Supervisor</h2>
                <p>We have appointed a personal data supervisor who is responsible for overseeing questions in relation to this privacy notice. If you have any questions about this privacy notice, including any requests to exercise your legal rights, please contact the personal data supervisor using the following details.</p>
                <p>Personal Data Supervisor: Mr. NguoiBiAn</p>
                <p>Postal address: 08, Ton That Thuyet, My Dinh, Ha Noi</p>
                <p>Telephone number: 0000 0000 00</p>
                <p>Email address: eyeonic@gmail.com</p>
                <p>Eyeonic SA only responds to enquiries concerning data protection. Please send any communications in either English or French.</p>
            </div>
            <div class="nd_legal">
                <h2>Supervisory authority</h2>
                <p>You also have the right to complain at any time to the competent supervisory authority.</p>
            </div>
            <div class="nd_legal">
                <h2>The data we collect about you</h2>
                <p>Personal data means any information about an individual that can be used to identify that person. It does not include data for which the identity has been deleted (anonymized data).</p>
                <p>We may collect, use, store and transfer different types of personal data about you that we have compiled as follows:</p>
                <uL>
                    <li><b>Contact data</b> includes address, email address and phone number.</li>
                    <li><b>Technical data</b> includes internet protocol (IP) addresses, login data, browser and version types, time zone and location settings, type of plug-ins and browsers, operating systems and platforms as well as other technologies on the device you use to access this website.</li>
                    <li><b>Usage data</b> includes information about how you use the site.</li>
                    <li><b>Marketing and Communication data</b> includes your options in marketing products from us and third parties and your communication options.</li>
                </uL>
                <p>We do not collect any <b>particular personal data list </b> about you (including details of race or ethnicity, religious or philosophical beliefs, sex life, sexual orientation, political opinions, union membership, information about your health, and genetic and biometric data). We also do not collect any information about criminal and criminal history.</p>
            </div>
            <div class="nd_legal">
                <h2>How is your personal data collected?</h2>
                <p>We use different methods to collect data about you including:</p>
                <ul>
                    <li><b>Face-to-face interaction</b>. You can provide us with your Identity, Contact, Marketing and Communications Data by filling out a form or by interacting with us by mail, phone, email or otherwise.</li>
                    <li><b>Automated or interactive techniques</b>. When you interact with our website, we will automatically collect Technical Data about your device, browsing actions, and platform. We collect this personal data using cookies, server logs and other similar technologies. Please see our cookie policy for more details.</li>
                    <li>
                        <span><b>Third party</b>We will receive personal data about you from the various third parties outlined below:</span>
                        <ul >
                            <span>Analysis solutions from the following parties:</span>
                            <li>
                                <uL>
                                    <li class="ct-ul">Adobe Analytics is based in Ireland.</li>
                                    <li class="ct-ul">Content Square is based in France.</li>
                                </uL>
                            </li>
                        </ul>
                        <ul>
                            <span>Technical monitoring solutions from the following parties:</span>
                            <ul>
                                <li class="ct-ul">New Relic is based in the United States.</li>
                            </ul>
                        </ul>
                        <ul>
                            <span class="cd-ul">Map solutions from the following parties:</span>
                            <ul>
                                <li class="ct-ul">Google Maps is based in the United States.</li>
                                <li class="ct-ul">Baidu Maps is based in China.</li>
                            </ul>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="nd_legal">
                <h2>The purpose of using your personal data</h2>
                <p>We have presented below, as a table, describing all the ways to use a user's personal data and the legal basis for such action. We have also identified our appropriate legitimate interests.</p>
                <p>Note that we may process your personal data for more than one legitimate platform depending on the specific purpose for which we are using your data. Please contact us if you need details about the specific legal basis on which we are relying to process your personal data, where there is more than one platform already stated in the table below.</p>
            </div>
            <div class="nd_legal">
                <h2>Change of purpose</h2>
                <p>We will only use your personal data for the purposes we have collected, unless we reasonably consider that we need to use it for another reason and that reason is compatible with the original purpose. If you would like to receive an explanation of how to handle the new purpose compatible with the original purpose, please contact us.</p>
                <p>If we need to use your personal data for an unrelated purpose, we will notify you and we will explain the legal basis that allows us to do so.</p>
                <p>Please note that we may process your personal data without your knowledge or consent, in compliance with the above rules, when requested or permitted by law.</p>
            </div>
            <div class="nd_legal">
                <h2>Data storage</h2>
                <p>We will only retain your personal data as long as it is reasonably necessary to fulfill the purposes we collect, meeting any legal, regulatory, tax, accounting or reporting requirements. We may store your personal data for longer periods of time in the event of a complaint or if we reasonably believe that there is a litigation regarding our relationship with you.</p>
                <p>To determine the appropriate retention period for personal data, we consider the quantity, nature and sensitivity of personal data, the risk of harm from the unauthorized use or disclosure of your personal data, the purpose by which we process your personal data, or whether such purposes can be achieved through through other means and the application of legal, regulatory, tax, accounting or other requirements.</p>
                <p>Details of retention times for different aspects of your personal data are outlined in the table above.</p>
            </div>
            <div class="nd_legal">
                <h2>Marketing</h2>
                <p>You may ask us or a third party to stop sending you a marketing message at any time by opting out of any marketing message sent to you or by contacting us at any time.</p>
                <p>When you choose not to participate in receiving these ad notifications, this will not apply to the personal data provided to us as a result of the 1-4 activities/purposes above.</p>
            </div>
            <div class="nd_legal">
                <h2>Statement of your personal data</h2>
                <p>With your consent, we may share your personal data with internal and third parties.</p>
                <p>In any case, we ask all third parties to respect the confidentiality of your personal data and process it in accordance with the law. We do not allow third-party service providers to use your personal data for their own purposes and only allow them to process your personal data for specified purposes and in accordance with our instructions.</p>
            </div>
            <div class="nd_legal">
                <h2>International Transfer</h2>
                <p>We share your personal data in rolex's corporate group. This may involve transferring your data outside the European Economic Area (EEA).</p>
                <p>A few of our third-party partners are outside the EEA, and the processing of your personal data will involve the transfer of data outside the EEA.</p>
            </div>
            <div class="nd_legal">
                <h2>Data security</h2>
                <p>We have put in place appropriate security measures to prevent your personal data from being accidentally lost, used or accessed in an unauthorized, altered or disclosed manner. In addition, we restrict access to your personal data to employees, agents, contractors and other third parties who need to know such information. They will only process your personal data in accordance with our instructions and they are responsible for security.</p>
                <p>We have put in place procedures for dealing with any suspected personal data breaches and will notify you and any adjustments to the breach that we are required by law to do so.</p>
            </div>
            <div class="nd_legal">
                <h2>Cookies & third-party links</h2>
                <p>You can install your browser to reject all or some browser cookies or notify you when the site installs or has access to cookies. If you disable or reject cookies, please note that some parts of this website may not be accessible or not working properly. For more information about the cookies we use, please see here.</p>
                <p>Eyeonic Cookies</p>
                <p>This website may include links to third-party websites, plug-ins, and apps. Clicking on those links or turning on those connections could allow third parties to collect or share data about you. We do not control these third-party websites and are not responsible for their privacy terms. When you leave our website, we recommend that you read the security notices of every website you visit.</p>
            </div>
            <div class="nd_legal">
                <h2>Your legal rights</h2>
                <p>Under certain circumstances, you have the following rights under data protection laws relating to your personal data:</p>
                <ul>
                    <li>Request access to your personal data (commonly known as a “data subject access request”). This enables you to receive a copy of the personal data we hold about you and to check that we are lawfully processing it.</li>
                    <li>Request correction of the personal data that we hold about you. This enables you to have any incomplete or inaccurate data we hold about you corrected, though we may need to verify the accuracy of the new data you provide to us.</li>
                    <li>Request erasure of your personal data. This enables you to ask us to delete or remove personal data where there is no good reason for us continuing to process it. You also have the right to ask us to delete or remove your personal data where you have successfully exercised your right to object to processing (see below), where we may have processed your information unlawfully or where we are required to erase your personal data to comply with local law. Note, however, that we may not always be able to comply with your request of erasure for specific legal reasons which will be notified to you, if applicable, at the time of your request.</li>
                    <li>Object to processing of your personal data where we are relying on a legitimate interest (or those of a third party) and there is something about your particular situation which makes you want to object to processing on this ground as you feel it impacts on your fundamental rights and freedoms. You also have the right to object where we are processing your personal data for direct marketing purposes. In some cases, we may demonstrate that we have compelling legitimate grounds to process your information which override your rights and freedoms.
                    </li>
                    <li>
                        <span>Request restriction of processing of your personal data. This enables you to ask us to suspend the processing of your personal data in the following scenarios:</span>
                        <ul>
                            <li class="ct-ul">If you want us to establish the data’s accuracy.</li>
                            <li class="ct-ul">Where our use of the data is unlawful but you do not want us to erase it.</li>
                            <li class="ct-ul">Where you need us to hold the data even if we no longer require it as you need it to establish, exercise or defend legal claims.</li>
                            <li class="ct-ul">You have objected to our use of your data but we need to verify whether we have overriding legitimate grounds to use it.
                            </li>
                        </ul>
                    </li>               <li></li>
                    <li>Request the transfer of your personal data to you or to a third party. We will provide to you, or a third party you have chosen, your personal data in a structured, commonly used, machine-readable format. Note that this right only applies to automated information which you initially provided consent for us to use or where we used the information to perform a contract with you.</li>
                    <li>Withdraw consent at any time where we are relying on consent to process your personal data. However, this will not affect the lawfulness of any processing carried out before you withdraw your consent. If you withdraw your consent, we may not be able to provide certain products or services to you. We will advise you if this is the case at the time you withdraw your consent.</li>
                    <li>If you wish to exercise any of the rights set out above, please contact the personal data supervisor.</li>
                </ul>
            </div>
            <div class="nd_legal">
                <h2>No fee usually required</h2>
                <p>You will not have to pay a fee to access your personal data (or to exercise any of the other rights). However, we may charge a reasonable fee if your request is clearly unfounded, repetitive or excessive. Alternatively, we could refuse to comply with your request in these circumstances.</p>
            </div>
            <div class="nd_legal">
                <h2>What we may need from you</h2>
                <p>We may need to request specific information from you to help us confirm your identity and ensure your right to access your personal data (or to exercise any of your other rights). This is a security measure to ensure that personal data is not disclosed to any person who has no right to receive it. We may also contact you to ask you for further information in relation to your request to speed up our response.</p>
            </div>
            <div class="nd_legal">
                <h2>Time limit to respond</h2>
                <p>We try to respond to all legitimate requests within one month. Occasionally it could take us longer than a month if your request is particularly complex or you have made a number of requests. In this case, we will notify you and keep you updated.</p>
            </div>
            <div class="nd_legal">
                <h2>Your duty to inform us of changes</h2>
                <p>It is important that the personal data we hold about you is accurate and current. Please keep us informed if your personal data changes during your relationship with us.

                </p>
            </div>
        </div>
    </div>
</section>
<%- include("footer.ejs") %>
</body>
</html>