<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eyeonic - Radius website</title>


    <%- include("stylesheet.ejs") %>
    <link rel="stylesheet" href="/css/aboutus.css">
    <link rel="stylesheet" href="/css/side_bar.css">
</head>
<body>
<%- include("header.ejs") %>
     <section class = "section">
         <div class="breadcrumb">
             <h3>About US</h3>
             <ul class="menu-item">
                 <li><a href="/">Home</a></li>
                 <li>About us</li>
             </ul>
         </div>
         <div class= "box-content">
             <div class = "left col-md-3">
                 <%- include("side_bar.ejs") %>
             </div>
             <div class="about-us right col-md-9">
                 <div class = "content-us">
                     <h1>Eyeonic-Paradise Eyeglasses</h1>
                     <p>(We are bulding Eyeonic...)</p>
                     <h4>Simply because love glasses.</h4>
                     <p>With an endless passion for glasses, our team worked well together to create Eyeonic to give people an interesting experience of shopping for eyeglasses online with countless eyeglasses models from classic to modern, from middle-aged, mature to youthful personality ...</p>
                 </div>
                 <div class="criteria">
                     <h3><u>Eyeonic's criteria</u></h3>
                     <div class="col-md-4">
                         <img src="/image/cskh.jpg">
                         <p>Enthusiastic, attentive, respectful customer</p>
                     </div>
                     <div class="col-md-4">
                         <img src="/image/genuine.jpg">
                         <p>Genuine product commitment</p>
                     </div>
                     <div class="col-md-4">
                         <img src="/image/ship.jpg">
                         <p>Fast shipping, ensuring</p>
                     </div>
                 </div>
                 <div class="achievements">
                     <h4>After 3 years of development, Eyeonic has achieved the following achievements</h4>
                     <div class="col-md-4">
                         <img src = "/image/1.jpg">
                         <p>Linked to more than 200 eyeglasses cave labels</p>
                     </div>
                     <div class="col-md-4">
                         <img src = "/image/2.jpg">
                         <p>Successfully shipped more than 20,000 orders to customers</p>
                     </div>
                     <div class="col-md-4">
                         <img src = "/image/3.jpg">
                         <p>Gained over 18,000 5* reviews from Eyeonic customers</p>
                     </div>
                 </div>
             </div>
         </div>
     </section>
     <%- include("footer.ejs") %>
     <script type="text/javascript" src="/js/jquery.js"></script>
     <script type="text/javascript" src="/js/js_all.js"></script>
</body>
</html>