<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eyeonic - Radius website</title>


    <%- include("stylesheet.ejs") %>
    <link rel="stylesheet" href="/css/aboutus.css">
    <link rel="stylesheet" href="/css/side_bar.css">
</head>
<body>
<%- include("header.ejs") %>
     <section class = "section">
         <div class="breadcrumb">
             <h3>About US</h3>
             <ul class="menu-item">
                 <li><a href="/">Home</a></li>
                 <li>About us</li>
             </ul>
         </div>
         <div class= "box-content">
             <div class = "left col-md-3">
                 <%- include("side_bar.ejs") %>
             </div>
             <div class="about-us right col-md-9">
                 <div class = "content-us">
                     <h1>Eyeonic-Paradise Eyeglasses</h1>
                     <p>(We are building Eyeonic...)</p>
                     <h4>Simply because love glasses.</h4>
                     <p>With an endless passion for glasses, our team worked well together to create Eyeonic to give people an interesting experience of shopping for eyeglasses online with countless eyeglasses models from classic to modern, from middle-aged, mature to youthful personality ...</p>
                     <p>If someone has ever praised "the eyes are the windows to the soul",
                         it can be said that "eyeglasses are a special armor for that window".
                         Coming to our Eyeonic shop, you will be able to buy eyewear products with super hard,
                         durable and especially good corrosion resistance, you can rest assured
                         to use for decades without thinking about damage, replace…Currently,
                         Eyeonic Eyewear has been distributed in Vietnam and all over the world.</p>
                     <p>Since its establishment in 2020, Eyeonic has always been rated by customers as one of the prestigious
                         and high-quality glasses stores in Vietnam. Currently, Eyeonic continues to maintain service quality and always updates new glasses models to maintain customer satisfaction.</p>
                     <p>"Our mission is to bring you quality glasses, help protect your eyes, as well as bring beauty when wearing glasses for you."</p>
                 </div>
                 <div class="history">
                     <h1>Discover the story of Eyeonic</h1>
                     <h4>Year 2020:</h4>
                     <p>EYEONIC was established in Vietnam in 2020 with the aim of passing the exam.Eyeonic opens its first store on Ton That Thuyet Street.</p>
                     <h4>Year 2021:</h4>
                     <p>Nguyen Dang A is appointed Design Director. Eyeonic becomes a public quoted company floating on the VietNam Stock Exchange.</p>
                     <p>The Eyeonic Foundation is established as an independent charity for general charitable purposes and grant-making.</p>
                     <h4>Year 2022:</h4>
                     <p>Moving away from a wholesale and licensed business model, retail beacoms the primary route of distributin – increasing from 43% in 2009/20010 to 64% in 2021/2022.</p>
                     <p>Eyeonic team embarked on building a website to facilitate online shopping for customers.</p>
                     <p>Eyeonic directly operates over 200 stores around the world.</p>
                 </div>
                 <div class="criteria">
                     <h3 class="text-center"><u>Eyeonic's criteria</u></h3>
                     <div class="col-md-4">
                         <img src="/images/cskh.jpg">
                         <p>Enthusiastic, attentive, respectful customer</p>
                     </div>
                     <div class="col-md-4">
                         <img src="/images/genuine.jpg">
                         <p>Genuine product commitment</p>
                     </div>
                     <div class="col-md-4">
                         <img src="/images/ship.jpg">
                         <p>Fast shipping, ensuring</p>
                     </div>
                 </div>
                 <div class="achievements">
                     <h4 class="text-center">After 3 years of development, Eyeonic has achieved the following achievements</h4>
                     <div class="col-md-4">
                         <img src = "/images/achievements_1.jpg">
                         <p>Linked to more than 200 eyeglasses cave labels</p>
                     </div>
                     <div class="col-md-4">
                         <img src = "/images/achievements_2.jpg">
                         <p>Successfully shipped more than 20,000 orders to customers</p>
                     </div>
                     <div class="col-md-4">
                         <img src = "/images/achievements_3.jpg">
                         <p>Gained over 18,000 5* reviews from Eyeonic customers</p>
                     </div>
                 </div>
             </div>
         </div>
     </section>
     <%- include("footer.ejs") %>
     <script type="text/javascript" src="/js/jquery.js"></script>
     <script type="text/javascript" src="/js/js_all.js"></script>
</body>
</html>