<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eyeonic - Radius website</title>


    <%- include("stylesheet.ejs") %>
    <link rel="stylesheet" href="/css/aboutus.css">
    <link rel="stylesheet" href="/css/side_bar.css">
</head>
<body>
<%- include("header.ejs") %>
     <section class = "section">
         <div class="breadcrumb">
             <h3>About US</h3>
             <ul class="menu-item">
                 <li><a href="/">Home</a></li>
                 <li>About us</li>
             </ul>
         </div>
         <div class= "box-content">
             <div class = "left col-md-3">
                 <%- include("side_bar.ejs") %>
             </div>
             <div class="about-us right col-md-9">
                 <div class="gt">
                     <div class="gt-left">
                         <h3>Introduce</h3>
                         <p>Company name: Eyeonic ONLINE JOINT STOCK COMPANY</p>
                         <p>Head office: 08 Ton That Thuyet Street- My Dinh- Ha Noi</p>
                         <p>Legal representative of the enterprise: Mr. Dang Toan</p>
                     </div>
                     <div class="gt-right">
                         <img src="/images/th11.png">
                         <img src="/images/th22.png">
                     </div>
                 </div>
                 <div class="history">
                     <h1>DISCOVER THE STORY OF EYEONIC</h1>
                     <h3>2010</h3>
                     <p>EYEONIC was established in Vietnam in 2022 with the aim of passing the exam.Eyeonic opens its first store on Ton That Thuyet Street.</p>
                     <h3>2012</h3>
                     <p>Nguyen Dang Toan is appointed Design Director. Eyeonic becomes a public quoted company floating on the VietNam Stock Exchange.</p>
                     <h3>2017</h3>
                     <p>Eyeonic directly operates over 200 stores around the world.</p>
                     <h3>2018</h3>
                     <p>The Eyeonic Foundation is established as an independent charity for general charitable purposes and grant-making.</p>
                     <h3>2019</h3>
                     <p>MOVING AWAY FROM A WHOLESALE AND LICENSED BUSINESS MODEL, RETAIL BECOMES THE PRIMARY ROUTE OF DISTRIBUTION – INCREASING FROM 43% IN 2005/2006 TO 64% IN 2010/2011.</p>
                 </div>
                 <div class = "content-us">
                     <h1>Eyeonic-Paradise Eyeglasses</h1>
                     <p>(We are building Eyeonic...)</p>
                     <h4>Simply because love glasses.</h4>
                     <p>With an endless passion for glasses, our team worked well together to create Eyeonic to give people an interesting experience of shopping for eyeglasses online with countless eyeglasses models from classic to modern, from middle-aged, mature to youthful personality ...</p>
                 </div>
                 <div class="criteria">
                     <h3><u>Eyeonic's criteria</u></h3>
                     <div class="col-md-4">
                         <img src="/images/cskh.jpg">
                         <p>Enthusiastic, attentive, respectful customer</p>
                     </div>
                     <div class="col-md-4">
                         <img src="/images/genuine.jpg">
                         <p>Genuine product commitment</p>
                     </div>
                     <div class="col-md-4">
                         <img src="/images/ship.jpg">
                         <p>Fast shipping, ensuring</p>
                     </div>
                 </div>
                 <div class="achievements">
                     <h4>After 3 years of development, Eyeonic has achieved the following achievements</h4>
                     <div class="col-md-4">
                         <img src = "/images/achievements_1.jpg">
                         <p>Linked to more than 200 eyeglasses cave labels</p>
                     </div>
                     <div class="col-md-4">
                         <img src = "/images/achievements_1.jpg">
                         <p>Successfully shipped more than 20,000 orders to customers</p>
                     </div>
                     <div class="col-md-4">
                         <img src = "/images/achievements_1.jpg">
                         <p>Gained over 18,000 5* reviews from Eyeonic customers</p>
                     </div>
                 </div>
             </div>
         </div>
     </section>
     <%- include("footer.ejs") %>
     <script type="text/javascript" src="/js/jquery.js"></script>
     <script type="text/javascript" src="/js/js_all.js"></script>
</body>
</html>