<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account - Forgot Password or user name</title>

    <%- include("stylesheet.ejs") %>
    <link rel="stylesheet" href="/css/account.css">
</head>
<body>
<%- include("header.ejs") %>
<section class="section">
    <div class="breadcrumb">
        <h3>Forgot Your Username / Password</h3>
        <ul class="menu-item">
            <li><a href="/">Home</a></li>
            <li><a href="/account-forgot-password"> Forgot your username / password</a></li>
        </ul>
    </div>
    <div class="account">
        <div class="wrapper-img col-md-5">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/2048px-User_font_awesome.svg.png" alt="">
        </div>
        <div class="form-account col-md-7">
            <form method="get" action="#">
                <div class="form-group">
                    <i class="fa fa-user"></i>
                    <input class="form-input" type="email" placeholder="Type your email or phone" required>
                </div>
                <div>
                    <button class="sign-btn" type="submit"><h4>Send</h4></button>
                </div>
            </form>
        </div>
    </div>
</section>
<%- include("footer.ejs") %>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/js_all.js"></script>
</body>
</html>