<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eyeonic - Radius website</title>

    <%- include("stylesheet.ejs") %>
    <link rel="stylesheet" href="/css/detail_product.css">
</head>
<body>
<%- include("header.ejs") %>
<section class="section">
    <div class="breadcrumb">
        <h3>Roadies Rd-202 Round Protection</h3>
        <ul class="menu-item">
            <li><a href="/products">Products</a></li>
            <li>Roadies Rd-202 Round Protection</li>
        </ul>
    </div>
    <div class="product-container">
        <div class="product-content">
            <div class="product-img col-md-6">
                <img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/p/2/4/24-large_default.jpg" alt="">
                <div class="sub-img"></div>
            </div>
            <div class="product-information col-md-6">
                <div class="star" style="color: #ff7f50">
                    <h3>Assess: 9/10</h3>
                </div>
                <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.</p>
                <h4>Available In Stock: <span style="color: #5cb85c;">998 items</span></h4>
                <div class="product-size">
                    <p>Size:</p>
                    <select name="size" id="size">
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                    </select>
                </div>
                <div class="product-color">
                    <h4>Color:</h4>
                    <div class="color-item product-color-active" style="background: #ed0f0f;"></div>
                    <div class="color-item" style="background: #2aabd2;"></div>
                    <div class="color-item" style="background: #5cb85c;"></div>
                </div>
                <h2><span style="text-decoration: line-through;opacity: 0.8;margin-right: 10px">64.00$</span><span style="color: #ed0f0f">58.88$</span></h2>
                <div class="buttons_added">
                    <input class="minus is-form" type="button" value="-">
                    <input aria-label="quantity" class="input-qty" max="99" min="1" name="" type="number" value="1">
                    <input class="plus is-form" type="button" value="+">
                </div>
                <div>
                    <div class="buy-now">
                        <h3><a href="">BUY NOW</a></h3>
                    </div>
                    <div class="add-cart">
                        <h3><a href="">ADD TO CART</a></h3>
                    </div>
                </div>
                <div>
                    <div class="add-wishlish">
                        <a href=""><i class="fa fa-heart"></i>
                            Add to wishlish</a>
                    </div>
                    <div class="share">
                        <a href=""><i class="fa fa-share-alt"></i>
                            Share with others</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-tab">
            <div class="tab">
                <div class="tab-nav description tab-nav-active"><h4>Description</h4></div>
                <div class="tab-nav attachments"><h4>Attachments</h4></div>
            </div>
            <div class="tab-content">
                <div class="description-content tab-active">Symbol of lightness and delicacy, the hummingbird evokes curiosity and joy. Studio Design' PolyFaune collection features classic products with colorful patterns, inspired by the traditional japanese origamis. To wear with a chino or jeans. The sublimation textile printing process provides an exceptional color rendering and a color, guaranteed overtime.

                    Fashion has been creating well-designed collections since 2010. The brand offers feminine designs delivering stylish separates and statement dresses which has since evolved into a full ready-to-wear collection in which every item is a vital part of a woman's wardrobe. The result? Cool, easy, chic looks with youthful elegance.

                    Contrary to popular belief, Lorem Ipsum is not simply random text.

                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</div>
                <div class="attachments-content">
                    <p>DOWNLOAD Product Details
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <a href="">Download (00.99KB)</a>
                </div>
            </div>
        </div>
    </div>
    <div class="popular-product">
        <h1 class="text-center" style="margin: 100px 0 100px"><u>You Might Also Like</u></h1>
        <div class="products">
            <div class="col-md-3">
                <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/p/2/4/24-home_default.jpg" alt=""></a>
                <div class="star" style="color: yellow" >
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4><a href="">Roadies Rd-202 Round Protection</a></h4>
                <h3 style="color: #ed0f0f">$56.12</h3>
                <div class="outer">
                    <a href=""><i class="fa fa-heart"></i></a>
                    <a href=""><i class="fa fa-eye"></i></a>
                    <a href=""><i class="fa fa-shopping-bag"></i></a>
                </div>
            </div>
            <div class="col-md-3">
                <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/p/1/2/0/120-home_default.jpg" alt=""></a>
                <div class="star" style="color: gray" >
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4><a href="">Hippie carnival glasses orange</a></h4>
                <h3 style="color: #ed0f0f">$47.00</h3>
                <div class="outer">
                    <a href=""><i class="fa fa-heart"></i></a>
                    <a href=""><i class="fa fa-eye"></i></a>
                    <a href=""><i class="fa fa-shopping-bag"></i></a>
                </div>
            </div>
            <div class="col-md-3">
                <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/p/1/0/7/107-home_default.jpg" alt=""></a>
                <div class="star" style="color: yellow" >
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4><a href="">Tinted hexagon oversized glass</a></h4>
                <h3 style="color: #ed0f0f">$63.36</h3>
                <div class="outer">
                    <a href=""><i class="fa fa-heart"></i></a>
                    <a href=""><i class="fa fa-eye"></i></a>
                    <a href=""><i class="fa fa-shopping-bag"></i></a>
                </div>
            </div>
            <div class="col-md-3">
                <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/p/1/0/5/105-home_default.jpg" alt=""></a>
                <div class="star" style="color: gray" >
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4><a href="">Transparent frame wayfarer lens</a></h4>
                <h3 style="color: #ed0f0f">$45.00</h3>
                <div class="outer">
                    <a href=""><i class="fa fa-heart"></i></a>
                    <a href=""><i class="fa fa-eye"></i></a>
                    <a href=""><i class="fa fa-shopping-bag"></i></a>
                </div>
            </div><div class="col-md-3">
                <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/p/1/0/5/105-home_default.jpg" alt=""></a>
                <div class="star" style="color: gray" >
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4><a href="">Transparent frame wayfarer lens</a></h4>
                <h3 style="color: #ed0f0f">$45.00</h3>
                <div class="outer">
                    <a href=""><i class="fa fa-heart"></i></a>
                    <a href=""><i class="fa fa-eye"></i></a>
                    <a href=""><i class="fa fa-shopping-bag"></i></a>
                </div>
            </div><div class="col-md-3">
                <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/p/1/0/5/105-home_default.jpg" alt=""></a>
                <div class="star" style="color: gray" >
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4><a href="">Transparent frame wayfarer lens</a></h4>
                <h3 style="color: #ed0f0f">$45.00</h3>
                <div class="outer">
                    <a href=""><i class="fa fa-heart"></i></a>
                    <a href=""><i class="fa fa-eye"></i></a>
                    <a href=""><i class="fa fa-shopping-bag"></i></a>
                </div>
            </div><div class="col-md-3">
                <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/p/1/0/5/105-home_default.jpg" alt=""></a>
                <div class="star" style="color: gray" >
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4><a href="">Transparent frame wayfarer lens</a></h4>
                <h3 style="color: #ed0f0f">$45.00</h3>
                <div class="outer">
                    <a href=""><i class="fa fa-heart"></i></a>
                    <a href=""><i class="fa fa-eye"></i></a>
                    <a href=""><i class="fa fa-shopping-bag"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="reviews">
        <h1 class="text-center">Reviews</h1>
    </div>
</section>
<%- include("footer.ejs") %>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/js_all.js"></script>
<script type="text/javascript" src="/js/detail_product.js"></script>
</body>
</html>