<footer class="footer">
    <div class="container">
        <div class="content">
            <div class="information col-md-4">
                <h4 style="display: inline-block;border-bottom: 3px solid #ed0f0f">Contact Information</h4>
                <div>
                    <i class="fa fa-map-marker" style="color: #ccc;display: inline-block"></i>
                    <p style="display: inline-block">No. 8 Ton That Thuyet, My Dinh, Tu Liem, Ha Noi</p>
                </div>
                <div>
                    <i class="fa fa-phone" style="color: #ccc;display: inline-block"></i>
                    <p style="display: inline-block">000-000-0000</p>
                </div>
                <div>
                    <i class="fa fa-envelope" style="color: #ccc;display: inline-block"></i>
                    <a href=""> <p style="display: inline-block">eyeonic@gmail.com</p></a>
                </div>

            </div>
            <div class="col-md-2">
                <h4 style="display: inline-block;border-bottom: 3px solid #ed0f0f; margin-bottom: 30px">Products</h4>
                <a href=""><p>Ladies glasses</p></a>
                <a href=""><p>Men's glasses</p></a>
                <a href=""><p>Shopping cart</p></a>
            </div>
            <div class="col-md-2">
                <h4 style="display: inline-block;border-bottom: 3px solid #ed0f0f; margin-bottom: 30px">Our Company</h4>
                <a href=""><p>Delivery</p></a>
                <a href=""><p>Security notifications</p></a>
                <a href="/terms-and-conditions"><p>Terms and conditions of use</p></a>
                <a href="/contact-us"><p>Contact us</p></a>
                <a href="/about-us"><p>About us</p></a>
                <a href=""><p>Secure payment</p></a>
                <a href=""><p>Sitemap</p></a>
                <a href="/thank-you"><p>Thank you</p></a>
            </div>
            <div class="col-md-4">
                <h4 style="display: inline-block;border-bottom: 3px solid #ed0f0f; margin-bottom: 30px">Our Newsletter</h4>
                <p>Subscribe to our latest newsletter to get news about special discounts.</p>
                <div class="col-md-12" style="margin: 20px 0">
                    <input type="email" placeholder="Enter your email" style="padding: 15px 150px 15px 20px">
                </div>
                <div class="col-md-5">
                    <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/cms/cms-footer-1.png" alt=""></a>
                </div>
                <div class="col-md-5">
                    <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/cms/cms-footer-2.png" alt=""></a>
                </div>
            </div>
            <div class="col-md-12" style="width: 100%;text-align: center;padding-top: 20px;border-top: 1px solid #ccc;margin-top: 50px">
                <div class="sticky" style="display: inline-block;float:left;">
                    <a href=""><i class="fab fa-facebook-square icon-stk"></i></a>
                    <a href=""><i class="fab fa-instagram-square icon-stk"></i></a>
                    <a href=""><i class="fab fa-twitter-square icon-stk"></i></a>
                    <a href=""><i class="fab fa-youtube-square icon-stk"></i></a>
                </div>
                <a href="" style="display: inline-block;padding-top: 10px"><p>© 2022 - Ecommerce software by PrestaShop™</p></a>
                <div class="payement-logo" style="display: inline-block;float:right;">
                    <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/modules/cz_blockpaymentlogo/views/img/carte_bleue.png" alt=""></a>
                    <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/modules/cz_blockpaymentlogo/views/img/visa.png" alt=""></a>
                    <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/modules/cz_blockpaymentlogo/views/img/master_card.png" alt=""></a>
                    <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/modules/cz_blockpaymentlogo/views/img/american_express.png" alt=""></a>
                    <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/modules/cz_blockpaymentlogo/views/img/paypal.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="back-to-top">
    <i class="fa fa-arrow-circle-up" style="font-size: 30px; cursor: pointer" title="Back to top"></i>
</div>