<div class="container" style="width: 100%;background-color: #ed0f0f">
    <p style="color: #ffffff; text-align: center;line-height: 30px; padding-top: 5px">Limited-Time Offers : 1st Time Buyer? Use "ONE" Promocode To Instantly Get 50% Off!</p>
</div>
<header class="header">
    <div class="">
        <div class="logo">
            <a href="/">
                <img style="display: inline-block" src="/images/logo_web.png" alt="" height="50px">
            </a>
        </div>
        <div class="menu">
            <ul id="nav" class="">
                <li><a href="/">Home</a></li>
                <li><a href="/products">
                        Products
                        <i class="nav-angle-down fa fa-angle-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="">Ladies glasses</a></li>
                        <li><a href="">Men's glasses</a></li>
                    </ul>
                </li>
                <li><a href="/shopping-cart">
                        Glasses
                        <i class="nav-angle-down fa fa-angle-down"></i></a>
                    <ul class="subnav">
                        <li><a href="">Diamond-D glasses</a></li>
                        <li><a href="">Philippe Auguste glasses</a></li>
                        <li><a href="">Ray Ban glasses</a></li>
                        <li><a href="">Burberry glasses</a></li>
                        <li><a href="">Prada glasses</a></li>
                        <li><a href="">Michael Kors glasses</a></li>
                    </ul></li>
                <li><a href="">
                        More
                        <i class="nav-angle-down fa fa-angle-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="/about-us">About us</a></li>
                        <li><a href="/contact-us">Contact us</a></li>
                    </ul>
                </li>
            </ul>
            <div class="icon-menu">
                <div class="icon-search" style="display: inline-block">
                    <i class="fa fa-search" title="Search"></i>
                </div>
                <a href="/account-log-in"><i class="fa fa-user-plus" title="Account"></i></a>
                <a href="/wishlist"><i class="fa fa-heart" title="Wishlist"></i></a>
                <a href="/shopping-cart" title="Shopping cart">
                    <i class="fa fa-shopping-bag"></i><sup class="count">0</sup>
                </a>
            </div>
        </div>
    </div>
    <div class="search-btn">
        <input class="search-input" type="text" name="search" placeholder="Search">
        <a href="/search-results"><i class="fa fa-search"></i></a>
    </div>
</header>
