<div class="popular-product">
    <h1 class="text-center" style="margin: 100px 0 100px"><u>Popular Products</u></h1>
    <div class="products">
        <div class="col-md-3">
            <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/p/2/4/24-home_default.jpg" alt=""></a>
            <div class="star" style="color: yellow" >
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <h4><a href="">Roadies Rd-202 Round Protection</a></h4>
            <h3 style="color: #ed0f0f">$56.12</h3>
            <div class="outer">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-eye"></i></a>
                <a href=""><i class="fa fa-shopping-bag"></i></a>
            </div>
        </div>
        <div class="col-md-3">
            <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/p/1/2/0/120-home_default.jpg" alt=""></a>
            <div class="star" style="color: gray" >
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <h4><a href="">Hippie carnival glasses orange</a></h4>
            <h3 style="color: #ed0f0f">$47.00</h3>
            <div class="outer">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-eye"></i></a>
                <a href=""><i class="fa fa-shopping-bag"></i></a>
            </div>
        </div>
        <div class="col-md-3">
            <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/p/1/0/7/107-home_default.jpg" alt=""></a>
            <div class="star" style="color: yellow" >
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <h4><a href="">Tinted hexagon oversized glass</a></h4>
            <h3 style="color: #ed0f0f">$63.36</h3>
            <div class="outer">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-eye"></i></a>
                <a href=""><i class="fa fa-shopping-bag"></i></a>
            </div>
        </div>
        <div class="col-md-3">
            <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/p/1/0/5/105-home_default.jpg" alt=""></a>
            <div class="star" style="color: gray" >
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <h4><a href="">Transparent frame wayfarer lens</a></h4>
            <h3 style="color: #ed0f0f">$45.00</h3>
            <div class="outer">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-eye"></i></a>
                <a href=""><i class="fa fa-shopping-bag"></i></a>
            </div>
        </div><div class="col-md-3">
            <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/p/1/0/5/105-home_default.jpg" alt=""></a>
            <div class="star" style="color: gray" >
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <h4><a href="">Transparent frame wayfarer lens</a></h4>
            <h3 style="color: #ed0f0f">$45.00</h3>
            <div class="outer">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-eye"></i></a>
                <a href=""><i class="fa fa-shopping-bag"></i></a>
            </div>
        </div><div class="col-md-3">
            <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/p/1/0/5/105-home_default.jpg" alt=""></a>
            <div class="star" style="color: gray" >
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <h4><a href="">Transparent frame wayfarer lens</a></h4>
            <h3 style="color: #ed0f0f">$45.00</h3>
            <div class="outer">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-eye"></i></a>
                <a href=""><i class="fa fa-shopping-bag"></i></a>
            </div>
        </div><div class="col-md-3">
            <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/p/1/0/5/105-home_default.jpg" alt=""></a>
            <div class="star" style="color: gray" >
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
            <h4><a href="">Transparent frame wayfarer lens</a></h4>
            <h3 style="color: #ed0f0f">$45.00</h3>
            <div class="outer">
                <a href=""><i class="fa fa-heart"></i></a>
                <a href=""><i class="fa fa-eye"></i></a>
                <a href=""><i class="fa fa-shopping-bag"></i></a>
            </div>
        </div>
    </div>
</div>