<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Product</title>
    <%- include("stylesheet.ejs") %>
</head>
<body>
<%- include("header.ejs") %>
      <section class= "col-md-12">
          <nav class = "breadcrumb">
              <div class="container">
                  <h3>Products</h3>
                  <ol class = "breadcrumb-item">
                      <li><a href="#">Home</a></li>
                      <li><span>Products</span></li>
                  </ol>
              </div>
          </nav>
          <div class="container">
              <div class="product-header">
                  <div class="block-category card card-block">
                      <div class="category-cover">
                          <img src="/image/6-category_default.jpg" alt = "Product" loading="lazy">
                      </div>
                      <div class="category-description text-muted">
                          <p>Items and accessories for your desk, kitchen or living room. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look.</p>
                      </div>
                  </div>
              </div>
              <section class="products">
                  <div>
                      <div class="products-selection">
                          <div class = "col-md-6 total-products">
                              <div class="filter-icon">
                                  <span>Filter</span>
                              </div>
                              <div class = "hidden-md-down">
                                  <ul class="display hidden-xs grid_list">
                                      <li><a href="#" title="Grid">Grid</a></li>
                                      <li><a href="#" title="List">List</a></li>
                                  </ul>
                                  <p>There are 15 products.</p>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="row sort-by-row">
                                  <span class = "col-sm-3 col-md-3 hidden-sm-down sort-by">Sort by:</span>
                                  <div class="col-sm-9 col-xs-8 col-md-9 products-sort-order dropdown">
                                      <a class="btn-unstyle select-title" rel = "nofollow" data-toggle="dropdown" aria-label="Sort by selection" aria-haspopup="true" aria-expanded="true">
                                          Relevance <i class="material-icons pull-xs-right">&#xE5C5;</i>
                                      </a>
                                  </div>
                                  <div class="dropdown-menu">
                                      <a
                                         rel = "nofollow"
                                         href="#"
                                         class="select-list"
                                      >
                                          Best sellers
                                      </a>
                                      <a
                                              rel = "nofollow"
                                              href="#"
                                              class="select-list"
                                      >
                                          Relevance
                                      </a>
                                      <a
                                              rel = "nofollow"
                                              href="#"
                                              class="select-list"
                                      >
                                          Name, A to Z
                                      </a>
                                      <a
                                              rel = "nofollow"
                                              href="#"
                                              class="select-list"
                                      >
                                          Name, Z to A
                                      </a>
                                      <a
                                              rel = "nofollow"
                                              href="#"
                                              class="select-list"
                                      >
                                          Price, low to high
                                      </a>
                                      <a
                                              rel = "nofollow"
                                              href="#"
                                              class="select-list"
                                      >
                                          Price, high to low
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </section>
          </div>
      </section>
<%- include("footer.ejs") %>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/js_all.js"></script>
</body>
</html>