<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eyeonic - Radius website</title>

    <%- include("stylesheet.ejs") %>
    <link rel="stylesheet" href="/css/search.css">
</head>
<body>
<%- include("header.ejs") %>
<section class="section">
    <div class="breadcrumb">
        <h3>Search Results</h3>
        <ul class="menu-item">
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search Results</a></li>
        </ul>
    </div>
    <div>
        <div class="product-selection">
            <div class="col-md-6">
                <i class="fa-solid fa-table-list"></i>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</section>
<%- include("footer.ejs") %>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/js_all.js"></script>
</body>
</html>