<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eyeonic - Radius website</title>

    <%- include("stylesheet.ejs") %>
    <link rel="stylesheet" href="/css/search_results.css">
</head>
<body>
<%- include("header.ejs") %>
<section class="section">
    <div class="breadcrumb">
        <h3>Search Results</h3>
        <ul class="menu-item">
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search Results</a></li>
        </ul>
    </div>
    <div class="product-wrp">
        <div class="product-selection">
            <div class=" col-md-6">
                <div class="grid-list">
                    <ul>
                        <li id="grid" class="selected">Grid <i class="fa-solid fa-grid-4"></i></li>
                        <li id="list">List</li>
                    </ul>
                </div>
                <div style="display: inline-block"><h4 style="display: inline-block;padding: 10px">There are ... products.</h4></div>
            </div>
            <div class="sort-by-row col-md-6">
                <h4>Sort by:</h4>
                <select name="sort" id="select-sort">
                    <option value="">Name, A to Z</option>
                    <option value="">Name, Z to A</option>
                    <option value="">Price, low to high</option>
                    <option value="">Price, high to low</option>
                </select>
            </div>
        </div>
        <div class="product-results">
            <div class="grid-products grid-list-active">
                <div class="col-md-3">
                    <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/p/2/4/24-home_default.jpg" alt=""></a>
                    <div class="star" style="color: yellow" >
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <h4><a href="">Roadies Rd-202 Round Protection</a></h4>
                    <h3 style="color: #ed0f0f">$56.12</h3>
                    <div class="outer">
                        <a href=""><i class="fa fa-heart"></i></a>
                        <a href=""><i class="fa fa-eye"></i></a>
                        <a href=""><i class="fa fa-shopping-bag"></i></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/p/1/2/0/120-home_default.jpg" alt=""></a>
                    <div class="star" style="color: gray" >
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <h4><a href="">Hippie carnival glasses orange</a></h4>
                    <h3 style="color: #ed0f0f">$47.00</h3>
                    <div class="outer">
                        <a href=""><i class="fa fa-heart"></i></a>
                        <a href=""><i class="fa fa-eye"></i></a>
                        <a href=""><i class="fa fa-shopping-bag"></i></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/p/1/0/7/107-home_default.jpg" alt=""></a>
                    <div class="star" style="color: yellow" >
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <h4><a href="">Tinted hexagon oversized glass</a></h4>
                    <h3 style="color: #ed0f0f">$63.36</h3>
                    <div class="outer">
                        <a href=""><i class="fa fa-heart"></i></a>
                        <a href=""><i class="fa fa-eye"></i></a>
                        <a href=""><i class="fa fa-shopping-bag"></i></a>
                    </div>
                </div>
            </div>
            <div class="list-products">
                <div class="list-product-item">
                    <div class="product-img col-md-3">
                        <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/p/2/4/24-home_default.jpg" alt=""></a>
                        <div class="outer">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class="fa fa-eye"></i></a>
                            <a href=""><i class="fa fa-shopping-bag"></i></a>
                        </div>
                    </div>
                    <div class="product-infor col-md-9">
                        <h4><a href="">Roadies Rd-202 Round Protection</a></h4>
                        <div class="star" style="color: yellow;" >
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h3 style="color: #ed0f0f">$56.12</h3>
                        <div>Established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of.</div>
                        <div class="add-cart">
                            <h4><a href="">Add to cart</a></h4>
                        </div>
                    </div>
                </div><div class="list-product-item">
                    <div class="product-img col-md-3">
                        <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/p/2/4/24-home_default.jpg" alt=""></a>
                        <div class="outer">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class="fa fa-eye"></i></a>
                            <a href=""><i class="fa fa-shopping-bag"></i></a>
                        </div>
                    </div>
                    <div class="product-infor col-md-9">
                        <h4><a href="">Roadies Rd-202 Round Protection</a></h4>
                        <div class="star" style="color: yellow;" >
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h3 style="color: #ed0f0f">$56.12</h3>
                        <div>Established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of.</div>
                        <div class="add-cart">
                            <h4><a href="">Add to cart</a></h4>
                        </div>
                    </div>
                </div><div class="list-product-item">
                    <div class="product-img col-md-3">
                        <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/p/2/4/24-home_default.jpg" alt=""></a>
                        <div class="outer">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class="fa fa-eye"></i></a>
                            <a href=""><i class="fa fa-shopping-bag"></i></a>
                        </div>
                    </div>
                    <div class="product-infor col-md-9">
                        <h4><a href="">Roadies Rd-202 Round Protection</a></h4>
                        <div class="star" style="color: yellow;" >
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h3 style="color: #ed0f0f">$56.12</h3>
                        <div>Established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of.</div>
                        <div class="add-cart">
                            <h4><a href="">Add to cart</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("footer.ejs") %>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/js_all.js"></script>
<script type="text/javascript" src="/js/search_results.js"></script>
</body>
</html>