<div class = "side-bar">
    <div class="block-categories">
        <h4 class="title-block"><a href="/">Home</a></h4>
        <div class="sub-categories">
            <p><a href="/ladies-glasses">Ladies glasses</a></p>
            <p><a href="/men-glasses">Men's glasses</a></p>
            <p><a href="/glass-frame">Glasses frame</a></p>
        </div>
    </div>
    <div style="margin: 50px 0">
        <img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/modules/cz_leftbanner/views/img/left-banner-1.jpg" alt="">
    </div>
    <div class="new-products-block">
        <h4 class="title-block">New products</h4>
        <div class="product-item">
            <div class="left col-md-5">
                <a href="/products/detail-product?id=1"><img src="https://www.dangquangwatch.vn/upload/product/1622063159_kinhmatthoitrang27.jpg" alt=""></a>
            </div>
            <div class="right col-md-7">
                <div class="infor-product">
                    <p><a href="/products/detail-product?id=1">Diamond D DM-T-29292-57/C5</a></p>
                    <h4><span style="text-decoration: line-through;opacity: 0.8;margin-right: 10px">$$142.68</span><span style="color: #ed0f0f">$128.41</span></h4>
                </div>
            </div>
        </div>
        <div class="product-item">
            <div class="left col-md-5">
                <a href="/products/detail-product?id=2"><img src="https://www.dangquangwatch.vn/upload/product/170964307_KINH-MAT-THOI-TRANG-21.jpg" alt=""></a>
            </div>
            <div class="right col-md-7">
                <div class="infor-product">
                    <p><a href="/products/detail-product?id=2">DIAMOND D DM-29237-52/C22</a></p>
                    <h4><span style="text-decoration: line-through;opacity: 0.8;margin-right: 10px">$142.01</span><span style="color: #ed0f0f">$114.51</span></h4>
                </div>
            </div>
        </div>
        <div class="product-item">
            <div class="left col-md-5">
                <a href="/products/detail-product?id=3"><img src="https://www.dangquangwatch.vn/upload/product/1287845525_kinhmatthoitrang26.jpg" alt=""></a>
            </div>
            <div class="right col-md-7">
                <div class="infor-product">
                    <p><a href="/products/detail-product?id=3">Diamond D DM-T-29204-62/C22</a></p>
                    <h4><span style="text-decoration: line-through;opacity: 0.8;margin-right: 10px">$140.99</span><span style="color: #ed0f0f">$129.09</span></h4>
                </div>
            </div>
        </div>
        <div class="product-item">
            <div class="left col-md-5">
                <a href="/products/detail-product?id=4"><img src="https://www.dangquangwatch.vn/upload/product/1974569927_kinhmatchinhhang2.jpg" alt=""></a>
            </div>
            <div class="right col-md-7">
                <div class="infor-product">
                    <p><a href="/products/detail-product?id=4">Diamond D DM-T-29218-58/C22</a></p>
                    <h4><span style="text-decoration: line-through;opacity: 0.8;margin-right: 10px">$150.99</span><span style="color: #ed0f0f">$119.99</span></h4>
                </div>
            </div>
        </div>
    </div>
</div>