<div class = "side-bar">
    <div class="block-categories">
        <h4 class="title-block"><a href="/">Home</a></h4>
        <div class="sub-categories">
            <p><a href="">Ladies glasses</a></p>
            <p><a href="">Men's glasses</a></p>
        </div>
    </div>
    <div style="margin: 50px 0">
        <img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/modules/cz_leftbanner/views/img/left-banner-1.jpg" alt="">
    </div>
    <div class="new-products-block">
        <h4 class="title-block">New products</h4>
        <div class="product-item">
            <div class="left col-md-5">
                <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/p/2/4/24-small_default.jpg" alt=""></a>
            </div>
            <div class="right col-md-7">
                <div class="star" style="color: yellow" >
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="infor-product">
                    <p><a href="">Roadies rd-202 round...</a></p>
                    <h4 style="color: #ed0f0f">$56.12</h4>
                </div>
            </div>
        </div><div class="product-item">
            <div class="left col-md-5">
                <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/p/2/4/24-small_default.jpg" alt=""></a>
            </div>
            <div class="right col-md-7">
                <div class="star" style="color: yellow" >
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="infor-product">
                    <p><a href="">Roadies rd-202 round...</a></p>
                    <h4 style="color: #ed0f0f">$56.12</h4>
                </div>
            </div>
        </div><div class="product-item">
            <div class="left col-md-5">
                <a href=""><img src="https://demo.codezeel.com/prestashop/PRS18/PRS180433/img/p/2/4/24-small_default.jpg" alt=""></a>
            </div>
            <div class="right col-md-7">
                <div class="star" style="color: yellow" >
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="infor-product">
                    <p><a href="">Roadies rd-202 round...</a></p>
                    <h4 style="color: #ed0f0f">$56.12</h4>
                </div>
            </div>
        </div>
    </div>
</div>