<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eyeonic - Radius website</title>

    <%- include("stylesheet.ejs") %>
    <link rel="stylesheet" href="css/terms_and_conditions.css">
    <link rel="stylesheet" href="/css/side_bar.css">
</head>
<body>
<%- include("header.ejs") %>
<section class="section">
    <div class="breadcrumb">
        <h3>Terms And Conditions Of Use</h3>
        <ul class="menu-item">
            <li><a href="/">Home</a></li>
            <li>Terms and conditions of use</li>
        </ul>
    </div>
    <div class="tacofu">
        <div class = "left col-md-3">
            <%- include("side_bar.ejs") %>
        </div>
        <div class="right-tacofu">
            <div class="taco-firt">
                <h1>OFFICIAL EYEONIC WEBSITE</h1>
                <p>All products displayed on the Website may be available at Official Eyeonic Jewelers. To ensure authenticity, genuine Eyeonic products are sold exclusively through Official Eyeonic Jewelers. Eyeonic does not sell glasses directly from the Website and cannot ensure the authenticity of watches sold online. Eyeonic invites you to visit your nearest Official Eyeonic Jeweler.</p>
                <p>All Eyeonic watches are assembled by hand with the utmost care to ensure exceptional quality. Such high standards naturally restrict our production capacity and, at times, the demand for our glasses outpaces this capacity. Therefore, the availability of certain models may be limited. New Eyeonic glasses are exclusively sold by Official Eyeonic Jewelers, who receive regular deliveries and independently manage the allocation and sales of glasses to customers. Official Eyeonic Jewelers can provide information on the availability of Eyeonic glasses.</p>
                <p>Eyeonic reserves the right at all glasses to modify its models featured on the Website. While Eyeonic has tried to accurately display shapes and colours of its products on the Website, they mostly depend on your monitor and may therefore be perceived differently.</p>
                <p>Any addition or substitution of parts or accessories with those not manufactured by Eyeonic, as well as any alteration, modification or other material change made to or on Eyeonic products by a third party not authorised by Eyeonic cancels the warranty. Eyeonic does not approve any modification made by non-authorised third parties on the Eyeonic products, including the addition of verbal and graphic elements, as well as any customisation activity. These modifications may harm the quality and the integrity of the Eyeonic products.</p>
                <p>All intellectual property rights such as trademarks, trade names, designs and copyrights are reserved and are exclusively owned by Eyeonic.</p>
            </div>
            <div class="taco">
                <h2>Terms of Use</h2>
                <p>Your access and use of the website Eyeonic.COM (the “Website”) is subject to the following terms and conditions and all applicable laws. By accessing and browsing the Website, you accept without limitation or qualification this Terms of Use Agreement.</p>
            </div>
            <div class="taco">
                <h2>Eyeonic's Copyrights and Trademarks</h2>
                <p>Eyeonic owns the Website. Eyeonic owns or has rights to all of the wallpaper, icons, characters, artwork, images, graphics, music, text, videos, software and other content of the Website (the "Content"), and all HTML, CGI and other code and scripts in any format used to implement the Website (the "Code"). The Content and Code of the Website are protected by copyright. Except as set forth herein, you may not copy, modify, upload, download, transmit, re-publish, display for redistribution to third parties for commercial purposes, or otherwise distribute any Code or Content from the Website without the prior written agreement of Rolex. You may not use the Content or Code from the Website for any purpose other than those set forth herein.</p>
                <p>All names, logos and trademarks which appear on the Website are the property of Rolex. You may not use them in any manner which is likely to cause confusion or in any other way without the prior express written permission from Rolex.</p>
                <p>Your failure to comply with this Terms of Use Agreement will constitute breach of contract and will violate Rolex's copyright, trademark and other proprietary and intellectual property rights. You may print in hard copy portions of the Website for non-commercial purposes only.</p>
            </div>
            <div class="taco">
                <h2>Liability: No Warranties or Representations</h2>
                <p>While Eyeonic makes its best efforts to include accurate and up to date information on the Website, it makes no warranties or representations with respect to the content of the Website, which is provided "as is". To the fullest extent permitted by law, Rolex shall not be liable in any manner for direct, indirect, incidental, consequential, loss of data, income or profit, punitive damages and/or claims of third parties resulting from the use of, access to, or inability to use the information and/or the products offered on the Website or any damages arising out of or in connection with the use of the Website. Furthermore, Eyeonic assumes no responsibility and shall not be liable for any damages to or viruses that may infect your computer equipment or other property on account of your access to, use of or browsing in the Website or your downloading of information from the Website.</p>
                <p>The invalidity of any term, condition or provision of the Terms of Use Agreement shall not affect the enforceability of those portions of the Terms of Use Agreement deemed enforceable by applicable courts of law.</p>
            </div>
            <div class="taco">
                <h2>Privacy</h2>
                <p>Please read the Privacy Policy which governs the manner in which Eyeonic will handle any personal information that you provide.</p>
            </div>
            <div class="taco">
                <h2>Links and Third Party Websites</h2>
                <p>Eyeonic is not responsible for the content of any site linked to or from the Website. Linking to any other website is entirely at a user's own risk. While Eyeonic may provide links on the Website to other sites, the inclusion of such links is solely for the convenience of the user. Rolex makes no representations and disclaims all warranties, express and implied, as to the accuracy, validity, suitability, legality or otherwise of any materials or information contained on such sites.</p>
            </div>
            <div class="taco">
                <h2>Revisions</h2>
                <p>Eyeonic may at any time revise the terms and conditions contained in the Terms of Use Agreement by updating this posting. You accept any revisions and should periodically visit this page to review the current terms and conditions which apply to your use of the Website.</p>
            </div>
            <div class="taco">
                <h2>Jurisdiction</h2>
                <p>Any dispute over the content or use of the Website shall be governed by the substantive laws of Vietnamese and the jurisdiction and venue of any such action shall be vested solely before the ordinary courts of the VietNamese.</p>
            </div>
        </div>
    </div>
</section>
<%- include("footer.ejs") %>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/js_all.js"></script>
</body>
</html>