<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Thank You</title>

    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <%- include("stylesheet.ejs") %>
    <link rel="stylesheet" href="/css/thank_you.css">
    <link rel="stylesheet" href="/css/popular_product.css">
</head>
<body>
<%- include("header.ejs") %>
<section class="section">
    <div class="thank-you">
        <div class="logo-tk">
            <h1>Thank you</h1>
        </div>
        <div class="text-tk">
            <p><i>First of all, I would like to say hello to you, thank you for ordering and supporting us a lot! If you are satisfied with our product,
                    we hope you can take a moment to take a photo or video and share it with your friends. In case there is still something unsatisfied,
                    please take a video or photo of the package with the product received, then send us the picture and description of your problem.
                    We are sure to find the most affordable solution for you to have the best in-store shopping experience.
                    Or you can also contact us via HOTLINE: 999-999-9999 for fastest processing!</i></p>
            <p><i>Once again, Eyeonic thank you for trusting and choosing us!</i></p>
            <p><i>Wish you success and good luck in life!</i></p>
        </div>
        <div class="gift">
            <h4>We send you a discount code on your next purchase</h4>
            <h4 style="color: #ed0f0f">*********</h4>
            <p>(Expiry date 1 months)</p>
            <a href="/products"><h2><i class="fa fa-arrow-right"></i>Continue to buy</h2></a>
        </div>
    </div>

    <%- include("popular_product.ejs") %>
</section>
<%- include("footer.ejs") %>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/js_all.js"></script>
</body>
</html>