<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Thank You</title>

    <%- include("stylesheet.ejs") %>
    <link rel="stylesheet" href="/css/thank_you.css">
    <link rel="stylesheet" href="/css/popular_product.css">
</head>
<body>
<%- include("header.ejs") %>
<section class="section">
    <div class="breadcrumb">
        <div class="container tdw">
            <h3>Thanh You</h3>
            <ul class="menu-item">
                <li><a href="/">Home</a></li>
                <li><a href="/thank-you">Thank you</a></li>
            </ul>
        </div>
    </div>
    <div class="thank-you">
        <div class="tk_txt">
            <div class="img_txt">
                <img src="imgs/tks.png" width="500" height="300">
            </div>
            <div class="left_txt">
                <p>Thank you for your purchase !!</p>
                <div class="gift">
                    <h3>A Gift For You!</h3>
                    <h5>10% off your next purchase. Expiry date 1 months</h5>
                    <a href="#"><h4>Take 10% of now</h4></a>
                </div>
            </div>
        </div>
    </div>
    <%- include("popular_product.ejs") %>
</section>
<%- include("footer.ejs") %>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/js_all.js"></script>
</body>
</html>