<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>

    <%- include("stylesheet.ejs") %>
    <link rel="stylesheet" href="/css/wishlist.css">
</head>
<body>
<%- include("header.ejs") %>
<section class="section">
    <div class="breadcrumb">
        <h3>Wishlist</h3>
        <ul class="menu-item">
            <li><a href="/">Home</a></li>
            <li><a href="/wishlist">Wishlist</a></li>
        </ul>
    </div>
    <div>
    </div>
</section>
<%- include("footer.ejs") %>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/js_all.js"></script>
</body>
</html>