*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #ffffff;
    color: #242424;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
img {
    max-width: 100%;
}
.section {
    float: left;
    width: 100%;
    display: block;
}
.breadcrumb{
    float: none;
    background-image: url("https://demo.codezeel.com/prestashop/PRS18/PRS180433/themes/Sumkie/assets/img/codezeel/breadcrumb-bg.jpg");
    text-align: center;
    max-width: 1600px;
    margin: 0 auto 150px auto;
    padding: 82px 0;
    background-size: initial;
    background-repeat: no-repeat;
}
.breadcrumb h3{
    float: none;
    line-height: 40px;
    padding: 0;
    text-align: center;
    width: auto;
    font-weight: 500;
    margin: 0 0 8px;
    text-transform: capitalize;
    font-size: 34px;
    color: #ffffff;
}
.menu-item {
    padding-left: 0px;
    display: flex;
    justify-content: center;
}
.menu-item li:nth-child(1) {
    border-right: 1px solid #ed0f0f;
}
.menu-item li:nth-child(2) {
    padding-left: 15px;
}
.menu-item li:nth-child(1) {
    padding: 0px 15px 0px 0px;
}
.menu-item li a {
    color: #ffffff;
    text-decoration: none;
}
.menu-item li a:hover {
    color: #ed0f0f;
}
ul li{
    list-style-type: none;
}
.container {
    float: none;
    width: 1400px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
}

.icon {
    float: left;
    padding-right: 10px;
}
.comlumns {
    margin-bottom: 100px;
}
.left-comlums {
    width: 25%;
    float: left;
    padding-left: 0;
}
.left-comlums h3 {
    color: #000000;
    text-transform: capitalize;
    padding: 10px 15px;
    position: relative;
    margin-bottom: 0;
    background-color: #e9e9e9;
}
.nd-left {
    padding: 12px 15px;
    border: 2px solid #e9e9e9;
    border-top: 0;
}

.comlumns {
    display: flex;
    justify-content: space-between;
}
.right-comlumns {
    float: left;
    width: 70%;
    height: 420px;
    margin: 25px;
    border: 1px solid #e9e9e9;
    padding: 20px;
    position: relative;
}
.form-group {
    width: 70%;
    margin: auto;
    display: flex;
    height: 40px;
    margin-bottom: 20px;
}
.form-group label {
    width: 30%;
    color: #000000;
    font-size: 16px;
    height: 100%;
    margin-top: 8px;
    font-weight: 700;
}
.form-group :nth-child(2) {
    width: 70%;
    border: 0.5px solid #000000;
}
textarea {
    height: 150px;
    padding: 10px;
}
::placeholder,
select {
}

.inputFile {
    display: inline-block;
    float: left;
    background-color: #f6f6f6;
    width: 70%;
    height: 100%;
}
.inputFile:hover {
    cursor: no-drop;
}
.choose-file-btn{
    display: inline-block;
    float: left;
    color: #ffffff;
    background: black;
    padding: 11px 27px;
    margin: -10px;
}

.btn-submit {
    color: white;
    padding: 0px 40px;
    background: black;
    position: absolute;
    right: 160px;
    bottom: 0px;
    cursor: pointer;
}
.btn-submit:hover, .choose-file-btn:hover{
    cursor: pointer;
    background-color: #ed0f0f;
    transition: all 300ms ease-in-out;
}
