.fix-header{
    width: 100%;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 1px, rgba(0, 0, 0, 0.02) 0 2px 2px, rgba(0, 0, 0, 0.02) 0 4px 4px, rgba(0, 0, 0, 0.07) 0 8px 8px, rgba(0, 0, 0, 0.02) 0 12px 12px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}
.fix-header .menu .icon-menu{
    float: left;
    padding: 0 30px;
}

.header{
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    transition: all 400ms ease-in-out;
}
.header .logo{
    float: left;
    display: flex;
    opacity: 0.9;
    padding: 20px 100px 0 20px;
}

a{
    text-decoration: none;
    color: #242424;
}
a:hover{
    text-decoration: none;
}
ul{
    margin: 0;
}
#nav{
    float: left;
    padding: 20px;
}

.menu{
    display: flex;
}
.header .menu .icon-menu{
    float: left;
    padding: 30px;
}

#nav, .subnav{
    list-style-type: none;
}
#nav li{
    position: relative;
}
#nav > li{
    display: inline-block;
}
#nav > li >a{
    font-size: 18px;
}
#nav li a{
    text-decoration: none;
    font-weight: 500;
    display: block;
    padding: 10px 40px;
}
#nav > li:hover > a{
    color: #ed0f0f;
    transform: scale(1.05);
    transition: all 500ms;
}
#nav .subnav{
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 30px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px, rgba(0, 0, 0, 0.07) 0 2px 2px, rgba(0, 0, 0, 0.07) 0 4px 4px, rgba(0, 0, 0, 0.07) 0 8px 8px, rgba(0, 0, 0, 0.07) 0 16px 16px;
    min-width: 150px;
    z-index: 100;
    transition: all 300ms ease-in-out;
}
#nav li:hover .subnav{
    opacity: 1;
    top: 70px;
}
#nav .subnav a{
    font-size: 15px;
    padding: 12px 20px;
    color: #242424;
    font-weight: 400;
}
.nav-angle-down{
    font-size: 10px;
    margin: 0;
}
#nav li:hover .nav-angle-down{
    transform: rotate(180deg);
}
#nav .subnav li:hover a{
    color: #ed0f0f;
    background-color: #f9f9f9;
    padding-left: 30px;
    transition: all 500ms;
}

.icon-menu a:hover{
    color: #ed0f0f;
    transition: all 500ms;
}
.fa, .fa-search{
    font-size: 20px;
    margin: 20px 10px;
}

.count{
    color: #ffffff;
    background-color: #ed0f0f;
    border-radius: 50%;
    padding: 2px 5px;
    margin-left: -10%;
}