*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #ffffff;
    color: #242424;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}

.khoi-slide {
    display: flex;
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    position: relative;
}
img {
    width: 100%;
}
.cac-slide {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: hidden;
    background: #ccc;
}
.slide{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.slide h1{
    font-size: 50px;
    font-weight: 900;
}

.slide .text{
    position: absolute;
    top: 50px;
    right: 100px;
}
.slide .text span{
    color: #ed0f0f;
    padding-left: 10px;
}
.slide .text p{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #ed0f0f;
    padding: 10px 20px;
    margin-top: 50px;
    transition: all 300ms ease-in-out;
}
.slide .text a:hover p{
    background-color: #242424;
}

.slide.active{
    opacity: 1;
    visibility: visible;
}
.nut-slide span{
    color: #242424;
    opacity: 0;
}
span#btn-prev{
    position: absolute;
    top: 200px;
    left: 0;
    z-index: 10;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
span#btn-next{
    position: absolute;
    top: 200px;
    right: 0;
    z-index: 10;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.nut-slide i{
    font-size: 100px;
}
.khoi-slide:hover #btn-prev{
    left: 20px;
    opacity: 0.5;
}
.khoi-slide:hover #btn-next{
    right: 20px;
    opacity: 0.5;
}
#btn-next:hover,#btn-prev:hover{
    color: #ed0f0f;
}

/*xử lý nút next*/
.bien-mat-ben-trai{
    animation: bien-mat-ben-trai 1s forwards;
}
@-webkit-keyframes bien-mat-ben-trai{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}
.di-vao-ben-phai{
    animation: di-vao-ben-phai 1s forwards;
}
@-webkit-keyframes di-vao-ben-phai{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}
/*xử lý nút prev*/
.bien-mat-ben-phai{
    animation: bien-mat-ben-phai 1s forwards;
}
@-webkit-keyframes bien-mat-ben-phai{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}
.di-vao-ben-trai{
    animation: di-vao-ben-trai 1s forwards;
}
@-webkit-keyframes di-vao-ben-trai{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}


.section{
    margin-top: 700px;
    padding: 0 50px
}
.box{
    display: flex;
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}
.box img{
    padding: 5%;
}
.box h3{
    font-weight: 400;
}

.box p{
    display: inline-block;
    text-transform: uppercase;
    color: #ed0f0f;
    font-weight: 500;
    margin-top: 40px;
}
.box a:hover u{
    color: #242424;
    text-decoration: none;
}
.box .left{
    margin-top: -70px;
}
.box .img-container{
    max-width: 660px;
    overflow: hidden;
}
.box .img-container img{
    max-width: 100%;
    transition: all 1s ease-in-out;
}
.box .left:hover img{
    transform: scale(1.1);
}
.box .right:hover img{
    transform: scale(1.1);
}

.brand{
    display: flex;
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    padding: 100px 0;
    border-top: 1px solid #dad5d5;
    border-bottom: 1px solid #dad5d5;
}

.new-products{
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}
.new-products .star i{
    margin: 20px 0 10px;
    font-size: 10px;
}
.new-products a:hover{
    color: #ed0f0f;
    transition: all 200ms;
}
.new-products img{
    position: relative;
}
.outer{
    position: absolute;
    right: 0;
    bottom: 130px;
    opacity: 0;
    transition: all 500ms ease-in-out;
}
.outer i{
    display: block;
    padding: 10px;
    background-color: white;
    cursor: pointer;
}
.outer i:hover{
    color: #ed0f0f;
}
.new-products .col-md-3:hover .outer{
    opacity: 1;
    right: 10px;
}

.banner{
    float: none;
    max-width: 1400px;
    justify-content: center;
    margin: 0 auto;
    padding-top: 0;
}
.banner{
    position: relative;
    padding-top: 500px;
}
.banner img{
    margin-top: -400px;
}
.banner .text{
    position: absolute;
    top: 200px;
    right: 100px;
    word-spacing: 5px;
}
.banner p{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: #ed0f0f;
    padding: 10px 20px;
    margin-top: 50px;
    transition: all 300ms ease-in-out;
}
.banner a:hover p{
    background-color: #242424;
}

.service{
    display: flex;
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    padding: 100px 50px 100px;
    border-bottom: 1px solid #dad5d5;
}
.service-fourth i{
    margin: 20px 10px;
    transition: all 600ms ease-in-out;
}
.service .service-fourth:hover i{
    transform: scale(1.2);
}
.service .service-fourth:hover i, .service-fourth:hover .service-head{
    color: #ed0f0f;
    transition: all 500ms;
}

.featured-products{
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}
.featured-products .star i{
    margin: 20px 0 10px;
    font-size: 10px;
}
.featured-products a:hover{
    color: #ed0f0f;
    transition: all 200ms;
}
.featured-products img{
    position: relative;
}
.outer{
    position: absolute;
    right: 0;
    bottom: 130px;
    opacity: 0;
    transition: all 300ms ease-in-out;
}
.outer i{
    font-size: 20px;
    display: flex;
    padding: 10px;
    margin: 20px 10px;
    background-color: white;

}
.outer i:hover{
    color: #ed0f0f;
}
.featured-products .col-md-3:hover .outer{
    opacity: 1;
    right: 10px;
}

.testimonial{
    display: block;
    float: none;
    margin: 1200px auto 100px auto;
    max-width: 1400px;
    max-height: 1000px;
    background-color: #f5f4f2;
}

.testimonial #testimonial-text{
    width: 1000px;
    height: 100px;
    background: #232323;
    background-image: -moz-linear-gradient(top,#4a4a4a,#232323);
    background-image: -o-linear-gradient(top,#4a4a4a,#232323);
    background-image: -webkit-linear-gradient(top,#4a4a4a,#232323);
    background-image: linear-gradient(top,#4a4a4a,#232323);
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
    margin: 0 auto 50px auto;
    border-radius: 10px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0,0,0,0.7);
}
.testimonial #testimonial-text:after{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border: 20px solid transparent;
    border-top: 20px solid #232323;
    left: 25%;
    bottom: -40px;
}

.testimonial img{
    border-radius: 50%;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.testimonial .tes-thubnail{
    display: inline-block;
    width: 150px;
    padding: 0 20px;
}
.tes-thubnail p{
    font-weight: 100;
    text-align: center;
}
.tes-active img{
    border: 3px solid #ed0f0f;
    transform: scale(1.2);
}
.tes-active h4{
    color: #ed0f0f;
}
.tes-thubnail h4{
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
}
