.popular-product{
    float: none;
    margin: 0 auto 100px auto;
    max-width: 1400px;
}
.popular-product .col-md-3{
    width: 22%;
    height: 500px;
    text-align: center;
    padding: 0;
    margin: 0 20px 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all 200ms ease-in-out;
}
.popular-product .col-md-3:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.popular-product .col-md-3:hover .prod-name a{
    color: #ed0f0f;
}
.popular-product .outer{
    position: absolute;
    right: 0;
    bottom: 220px;
    opacity: 0;
    transition: all 300ms ease-in-out;
}
.popular-product .outer i{
    display: block;
    font-size: 20px;
    padding: 10px;
    margin: 20px 10px 0;
    background-color: #f7f1e3;
    cursor: pointer;
}
.outer i:hover{
    color: #ed0f0f;
}
.popular-product .col-md-3:hover .outer{
    opacity: 1;
    right: 10px;
}
.popular-product .prod-name{
    height: 40px;
}