*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #ffffff;
    color: #242424;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
a:hover{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #242424;
}
.breadcrumb{
    float: none;
    background-image: url("https://demo.codezeel.com/prestashop/PRS18/PRS180433/themes/Sumkie/assets/img/codezeel/breadcrumb-bg.jpg");
    text-align: center;
    max-width: 1600px;
    margin: 0 auto 150px auto;
    padding: 82px 0;
    background-size: initial;
    background-repeat: no-repeat;
}
.breadcrumb h3{
    float: none;
    line-height: 40px;
    padding: 0;
    text-align: center;
    width: auto;
    font-weight: 500;
    margin: 0 0 8px;
    text-transform: capitalize;
    font-size: 34px;
    color: #ffffff;
}
.menu-item {
    padding-left: 0px;
    display: flex;
    justify-content: center;
}
.menu-item li:nth-child(1) {
    border-right: 1px solid #ed0f0f;
}
.menu-item li:nth-child(2) {
    padding-left: 15px;
}
.menu-item li:nth-child(1) {
    padding: 0px 15px 0px 0px;
}
.menu-item li a {
    color: #ffffff;
    text-decoration: none;
}
.menu-item li a:hover {
    color: #ed0f0f;
}
ul li{
    list-style-type: none;
}

.shop-cart{
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.title{
    color: #ffffff;
    background: #ed0f0f;
}

.product{
    border-bottom: 1px solid #ccc;
}
.product .checkbox-btn{
    padding: 35px 0 0 20px;
}

.product .product-img{
    display: inline-block;
    width: 110px;
    padding-top: 10px;
}
.product a:hover{
    color: #ed0f0f;
    transition: all 300ms ease-in-out;
}
.product .product-infor{
    display: inline-block;
}
.product-infor .star i{
    font-size: 10px;
    margin: 0 0 10px;
}
.product-infor h4{
    margin-bottom: 0;
}
.product .product-size p{
    display: inline-block;
}
.product .product-size section{
    display: inline-block;
}
.product .product-price{
    color: #ed0f0f;
    padding-top: 10px;
}
.product .delete{
    font-weight: 900;
    opacity: 0.8;
    padding: 30px;
}
.delete:hover{
    color: #ed0f0f;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.buttons_added {
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
    padding-top: 20px;
}
.is-form {
    overflow:hidden;
    position:relative;
    background-color:#f9f9f9;
    height:4.2rem;
    width:3.9rem;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    color: #ffffff;
    background: #ed0f0f;
    border-radius:4px 0 0 4px;
    font-size: 30px;
    transition: all 300ms ease-in-out;
}.is-form.minus:hover{
     background: #242424;
 }
.is-form.plus {
    color: #ffffff;
    background: #ed0f0f;
    border-radius:0 4px 4px 0;
    font-size: 20px;
    transition: all 300ms ease-in-out;
}.is-form.plus:hover{
     background: #242424;
 }
.input-qty {
    background-color:#fff;
    height:4.2rem;
    text-align:center;
    font-size:1.3rem;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding: 10px;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}


.total-payment{
    display: flex;
    float: none;
    justify-content: center;
    margin: 0 auto 100px auto;
    max-width: 1400px;
    background: #f9f9f9;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.total-payment-fixed{
    display: flex;
    float: none;
    justify-content: center;
    margin: 0 auto 100px auto;
    width: 100%;
    position: fixed;
    bottom: -100px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background: #f9f9f9;
    z-index: 100;
}

.adver{
    display: inline-block;
}
.adver p{
    padding: 35px 10px 30px 30px;
    display: inline-block;
    color: #ed0f0f;
}

.discount-content{
    display: inline-block;
    border: 1px solid #ccc;
}
.discount .discount-text{
    border: none;
    padding: 10px;
}
.discount .discount-text:focus{
    outline: 0;
}
.discount button{
    border: none;
    color: #ffffff;
    background: #a6a4a4;
    padding: 16px 10px;
    margin-right: -1px;
    transition: all 300ms ease-in-out;
}
.discount button:hover{
    background: #ccc;
}

.total{

}
.total div{
    display: inline-block;
}
.checkout{
    display: inline-block;
    padding: 10px 0 0 200px;
}
.checkout a{
    color: #ffffff;
    background: #ed0f0f;
    padding: 10px 20px;
    margin-left: 20px;
    transition: all 300ms ease-in-out;
}
.checkout a:hover{
    background: #242424;
    cursor: pointer;

}

