*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #ffffff;
    color: #242424;
    font-size: 14px;
    line-height: 1.25;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
}
a:hover{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #242424;
}
.breadcrumb{
    float: none;
    background-image: url("https://demo.codezeel.com/prestashop/PRS18/PRS180433/themes/Sumkie/assets/img/codezeel/breadcrumb-bg.jpg");
    text-align: center;
    max-width: 1600px;
    margin: 0 auto 100px auto;
    padding: 82px 0;
    background-size: initial;
    background-repeat: no-repeat;
}
.breadcrumb h3{
    float: none;
    line-height: 40px;
    padding: 0;
    text-align: center;
    width: auto;
    font-weight: 500;
    margin: 0 0 8px;
    text-transform: capitalize;
    font-size: 34px;
    color: #ffffff;
}
.menu-item {
    padding-left: 0px;
    display: flex;
    justify-content: center;
}
.menu-item li:nth-child(1) {
    border-right: 1px solid #ed0f0f;
}
.menu-item li:nth-child(2) {
    padding-left: 15px;
    color: #ffffff;
}
.menu-item li:nth-child(1) {
    padding: 0px 15px 0px 0px;
}
.menu-item li a {
    color: #ffffff;
    text-decoration: none;
}
.menu-item li a:hover {
    color: #ed0f0f;
}
ul li{
    list-style-type: none;
}


.tacofu{
    display: flex;
    float: none;
    max-width: 1400px;
    margin: 0 auto 100px auto;
}
.right-tacofu{
    width: 75%;
    margin-left: 125px;
}
.taco-firt{
    font-size: 20px;
    line-height: 2;
    font-weight: 400;
    margin: 0 15px 30px 15px;
}
.taco{
    font-size: 18px;
    line-height: 1.8;
    font-weight: 400;
    margin: 0 15px 30px 15px;
}
.taco-firt h1{
    margin-bottom: 30px;
    border-bottom: 5px solid black;
}
.taco h2{
    margin-bottom: 30px;
    border-bottom: 5px solid black;

}